matplotlib
pandas
numpy<=1.25.0
seaborn
urllib3  # Note: `urllib` is part of Python's standard library, but `urllib3` is the installable package
warnings  # No need to include `warnings`, as it's part of Python's standard library
streamlit
mlflow
scikit-learn
lightgbm
